<!DOCTYPE html>
  <head>
    <title>index</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>

  <body>

    <input type="file" id="input" accept="image/png, image/jpeg, image/jpg" />
    <canvas id="canvas" width=300 height=300 style="border: solid 1px;"></canvas>
    <button type="button" id="sendImg">Send image</button>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="../scripts/image.js"></script>
    
  </body>
</html>