<!DOCTYPE html>
  <head>
    <title>dashboard</title>
    <link rel="stylesheet" href="../css/register.css">
    <link rel="stylesheet" href="../css/landing.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    
  </head>

  <body>
  
    <div class="navbar" id="navbar">
      <a id="logoutLink"><i class="fa fa-fw fa-user"></i>LOGOUT</a>
    </div>

    User Favoritos

    <div class="footer">
      <p>Copyright APP</p>
    </div>

    <script src="../scripts/userLogged.js"></script>
    <script src="../scripts/userFunctions.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  </body>
</html>